form{ 
        font-family: arial;
        background-color: gray;
}
#logInDiv{
        display:block;
        right:0px;
}
#createAccountDiv{
        
        float:right;
        width: 400px;
	height: 1000px;

}

#createAccount input{

        display:inline;
}

